.reg-head{
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Arial Rounded MT Bold";
    color: #333333;
}

.reg-form{
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;
}





